<!DOCTYPE html>
<html>
<head>
  <title>Magin George</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image: url(http://bloggingexperiment.com/wp-content/uploads/am/contents/2009/08/OS-X-Wallpaper.jpg);background-size: cover;" >
<div>
<p>
<% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Sign Out", "/log-out" %>
<% else %>
    <%= link_to "Sign up", new_user_path %> or
    <%= link_to "Sign In", "/log-in" %>
<% end %>
</p>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
